<!DOCTYPE html>
<html lang="en">

<head>
  <title>NETFLIX SHOWS & MOVIES</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <style>
    .container hr {
      border: none;
      border-top: 1px solid #25efd7;
      margin: 20px 0;
    }
  </style>
</head>

<body>
  <h1>NETFLIX SHOWS & MOVIES</h1>
  <img src="../static/images/s0.png" alt="Dick Johnson Is Dead" width="400" Class="image">
  <div class="container">
    {% for item in shows %}
    <!-- Testo da mostrare quando si passa sopra con il mouse -->
    <div class="film">
      <p>
        <div class="container">
        Title:{{item[2]}} <br>
        Director: {{ item[3] }} <br>
        Cast: {{ item[4] }} <br>
        Country: {{ item[5] }} <br>
        Date Added: {{ item[6] }} <br>
        Release Year: {{ item[7] }} <br>
        Rating: {{ item[8] }} <br>
        Duration: {{ item[9] }} <br>
        Listed In: {{ item[10] }}<br>
        Description: {{ item[11] }} <br>
        </div>
      </p>
      <img src="../static/images/{{item[0]}}.png" alt="{{item[0]}}" width="200">
      
    </div>
    {% endfor %}
  </div>


  </ul>
</body>

</html>